Repository vmware-tanzu/load-balancer-operator-for-kubernetes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, unit-test, integration-test

lint:
  stage: lint
  services:
  - docker:19.03.8-dind
  before_script:
  - docker info
  script: make lint

unit-test:
  stage: test
  script: make test

integration-test:
  stage: test
  script: make integration-test

AKO won't be installed in IPv6 single-stack and IPv6 Primary dual-stack cluster (#176)
  api/v1alpha1/constants.go
  controllers/akodeploymentconfig/cluster/cluster_controller_addon_secret.go
  controllers/akodeploymentconfig/cluster/cluster_controller_unit_test.go
  controllers/akodeploymentconfig/cluster/suite_test.go
Due: lint, unit-test, integration-test

Ensure GetControlPlaneEndpoint can still return an IP
  pkg/ako-operator/lib.go
  pkg/ako-operator/lib_test.go
  pkg/haprovider/haprovider_test.go
Due: lint, unit-test, integration-test

Fix integration test flakes
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
  controllers/machine/machine_controller_intg_test.go
Due: lint, unit-test, integration-test

Ensure GetControlPlaneEndpoint can still return an IP (#177)
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
  controllers/machine/machine_controller_intg_test.go
  pkg/ako-operator/lib.go
  pkg/ako-operator/lib_test.go
  pkg/haprovider/haprovider_test.go
Due: lint, unit-test, integration-test

Update node version
  .github/workflows/actions.yml
  .github/workflows/push.yml
  Makefile
Due: lint, unit-test, integration-test

Fix unit test
  controllers/machine/machine_controller_intg_test.go
Due: lint, unit-test, integration-test

Print log
  Makefile
  controllers/machine/machine_controller_intg_test.go
Due: lint, unit-test, integration-test

Revert "Print log"
  Makefile
  controllers/machine/machine_controller_intg_test.go
Due: lint, unit-test, integration-test

Update node version, and change base image of markdownlint (#182)
  .github/workflows/actions.yml
  .github/workflows/push.yml
  Makefile
  controllers/machine/machine_controller_intg_test.go
Due: lint, unit-test, integration-test

Resolve control plane endpoint when updating service
  pkg/ako-operator/lib.go
  pkg/haprovider/haprovider.go
  pkg/haprovider/haprovider_test.go
Due: lint, unit-test, integration-test

Add integration test
  controllers/cluster/cluster_intg_test.go
  pkg/test/util/utils.go
Due: lint, unit-test, integration-test

Fix test
  pkg/haprovider/haprovider_test.go
Due: lint, unit-test, integration-test

Fix test
  controllers/cluster/cluster_intg_test.go
Due: lint, unit-test, integration-test

Resolve control plane endpoint when updating service (#180)
  controllers/cluster/cluster_intg_test.go
  pkg/ako-operator/lib.go
  pkg/haprovider/haprovider.go
  pkg/haprovider/haprovider_test.go
  pkg/test/util/utils.go
Due: lint, unit-test, integration-test

More logging, and quickly build dockerfile
  Makefile
  controllers/akodeploymentconfig/user/user_controller.go
Due: lint, unit-test, integration-test

Add trivy scan workflow
  .github/workflows/trivy-scan.yml
Due: none

Add dependabot configuration for main and release-1.10.0 branches
  .github/dependabot.yml
Due: none

Run required actions on all changes
  .github/workflows/actions.yml
Due: none

Fix go version in workflows
  .github/workflows/actions.yml
  .github/workflows/push.yml
Due: none

Update ytt to latest
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: lint, unit-test, integration-test

Fix go version in workflows (#214)
  .github/workflows/actions.yml
  .github/workflows/push.yml
Due: none

Cherry pick #182
  .github/workflows/actions.yml
  .github/workflows/push.yml
  Makefile
Due: lint, unit-test, integration-test

Fix the controller runtime related change
  go.mod
  go.sum
  main.go
  pkg/test/builder/test_suite.go
Due: lint, unit-test, integration-test

Update ytt to latest (#215)
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: lint, unit-test, integration-test

🌱 Bump sigs.k8s.io/controller-runtime from 0.15.1 to 0.17.3 (#235)
  go.mod
  go.sum
  main.go
  pkg/test/builder/test_suite.go
Due: lint, unit-test, integration-test

Update GOPROXY for dockerfile
  Dockerfile-for-github-ci
Due: none

[1.10.0] Update node version, and change base image of markdownlint, update GOPROXY for docker file (#182) (#234)
  .github/workflows/actions.yml
  .github/workflows/push.yml
  Dockerfile-for-github-ci
  Makefile
Due: lint, unit-test, integration-test

bump Go version to 1.22 in actions
  .github/workflows/actions.yml
  .github/workflows/push.yml
Due: none

run go mod tidy
  go.mod
  go.sum
Due: unit-test, integration-test

Fix flaky test
  controllers/cluster/cluster_intg_test.go
Due: lint, unit-test, integration-test

Fix flaky integration test by adding one more check (#239)
  controllers/cluster/cluster_intg_test.go
Due: lint, unit-test, integration-test

Query escape parameters to url in avi client
  pkg/aviclient/client.go
Due: lint, unit-test, integration-test

Bump alb-sdk
  go.mod
  go.sum
Due: unit-test, integration-test

Run required actions on all changes (#217)
  .github/workflows/actions.yml
Due: none

Fix the integration test logic when there are multiple test competing with each other
  api/v1alpha1/akodeploymentconfig_webhook_test.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_avi_phase.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
  controllers/akodeploymentconfig/user/ako_role.go
  controllers/akodeploymentconfig/user/user_controller.go
  pkg/haprovider/haprovider_test.go
  pkg/test/util/data.go
Due: lint, unit-test, integration-test

Refactor the integration test
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
  controllers/akodeploymentconfig/cluster/cluster_controller_unit_test.go
  controllers/akodeploymentconfig/user/user_controller.go
  controllers/cluster/cluster_intg_test.go
  pkg/ako/values.go
  pkg/ako/values_test.go
Due: lint, unit-test, integration-test

Path conditions:
  lint: any of: .gitlab-ci.yml, Makefile, **/*.go, hack/*.sh
  unit-test: any of: .gitlab-ci.yml, Makefile, **/*.go, config/**/*, go.{mod,sum}
  integration-test: any of: .gitlab-ci.yml, Makefile, **/*.go, config/**/*, go.{mod,sum}
