Repository vmware-tanzu/load-balancer-operator-for-kubernetes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, unit-test, integration-test

.gitlab-ci.yml:

image: "kscom-docker-local.artifactory.eng.vmware.com/tkg-extensions-ci/golang-docker-cli:1.13.9"

stages:
- lint
- test
- build
# - e2etest

variables:
  DOCKER_HOST: tcp://localhost:2375/
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

lint:
  stage: lint
  services:
  - docker:19.03.8-dind
  before_script:
  - docker info
  script: make lint
  only:
    changes:
    - .gitlab-ci.yml
    - Makefile
    - "**/*.go"
    - "hack/*.sh"

unit-test:
  stage: test
  script: make test
  only:
    changes:
    - .gitlab-ci.yml
    - Makefile
    - "**/*.go"
    - "config/**/*"
    - "go.{mod,sum}"

integration-test:
  stage: test
  script: make integration-test
  only:
    changes:
    - .gitlab-ci.yml
    - Makefile
    - "**/*.go"
    - "config/**/*"
    - "go.{mod,sum}"

build-images:
  stage: build
  services:
  - docker:19.03.8-dind
  before_script:
  - docker info
  script: make docker-build

# e2e-test:
#   stage: e2etest
#   services:
#     - docker:19.03.8-dind
#   script: make e2e-test
#   timeout: 30m

Revert change
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
Due: lint, unit-test, integration-test

Refactor integration test (#241)
  api/v1alpha1/akodeploymentconfig_webhook_test.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_avi_phase.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
  controllers/akodeploymentconfig/cluster/cluster_controller_unit_test.go
  controllers/akodeploymentconfig/user/ako_role.go
  controllers/akodeploymentconfig/user/user_controller.go
  controllers/cluster/cluster_intg_test.go
  pkg/ako/values.go
  pkg/ako/values_test.go
  pkg/haprovider/haprovider_test.go
  pkg/test/util/data.go
Due: lint, unit-test, integration-test

Update kustomize as well
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: lint, unit-test, integration-test

Update golang to 1.22
  .github/workflows/actions.yml
  .github/workflows/push.yml
  Dockerfile
  go.mod
  go.sum
  hack/tools/go.mod
Due: unit-test, integration-test

Fix the header check script
  hack/header-check.sh
Due: lint

Fix indentation
  hack/tools/Makefile
Due: none

Fix the generated.deepcopy.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: lint, unit-test, integration-test

Ping setup-envtest to version v0.0.0-20240215143116-d0396a3d6f9f
  hack/tools/Makefile
Due: none

Update the kubebuild and use envtest to pull binarie
  hack/tools/Makefile
Due: none

Update golang to 1.22 (#238)
  .github/workflows/actions.yml
  .github/workflows/push.yml
  Dockerfile
  api/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  hack/header-check.sh
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: lint, unit-test, integration-test

Make sure static.yaml is up to date
  config/ytt/static.yaml
Due: unit-test, integration-test

Rerun with newest controll-tool 0.14
  config/crd/bases/networking.tkg.tanzu.vmware.com_akodeploymentconfigs.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  config/ytt/static.yaml
Due: unit-test, integration-test

Refactor test
  controllers/cluster/cluster_intg_test.go
Due: lint, unit-test, integration-test

Make sure static.yaml is up to date with output of `make manifests` (#240)
  config/crd/bases/networking.tkg.tanzu.vmware.com_akodeploymentconfigs.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  config/ytt/static.yaml
  controllers/cluster/cluster_intg_test.go
Due: lint, unit-test, integration-test

Add ReplicaCount to AKODeploymentConfig
  api/v1alpha1/akodeploymentconfig_types.go
  api/v1alpha1/akodeploymentconfig_webhook.go
  api/v1alpha1/akodeploymentconfig_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/networking.tkg.tanzu.vmware.com_akodeploymentconfigs.yaml
  config/ytt/static.yaml
  pkg/ako/values.go
  pkg/ako/values_test.go
Due: lint, unit-test, integration-test

Update dependabot for release-1.11.0 branch
  .github/dependabot.yml
Due: none

Update node version, and change base image of markdownlint (#182)
  .github/workflows/actions.yml
  .github/workflows/push.yml
  Makefile
  controllers/machine/machine_controller_intg_test.go
Due: lint, unit-test, integration-test

Run required actions on all changes (#217)
  .github/workflows/actions.yml
Due: none

Add dependabot for 1.12
  .github/dependabot.yml
Due: none

Update kustomize-to-ytt so that it contains all manifest except the ako-operator deployment
  config/kustomize-to-ytt/kustomization.yaml
  config/kustomize-to-ytt/webhookcainjection_patch.yaml
  config/webhook/service.yaml
  config/ytt/ako-operator.yaml
  config/ytt/static.yaml
Due: unit-test, integration-test

Update kustomize-to-ytt so that it contains all manifest except the ako-operator deployment (#270)
  config/kustomize-to-ytt/kustomization.yaml
  config/kustomize-to-ytt/webhookcainjection_patch.yaml
  config/webhook/service.yaml
  config/ytt/ako-operator.yaml
  config/ytt/static.yaml
Due: unit-test, integration-test

Use newer setup-envtest version that pulls image from controller-tool repo instead of from old gcs bucket
  hack/tools/Makefile
Due: none

bump golangci-lint to v1.59.0
  hack/tools/Makefile
Due: none

bump golangci-lint to v1.59.0 (#288)
  hack/tools/Makefile
Due: none

handle missing/extra permissions in role sync
  controllers/akodeploymentconfig/user/ako_role_test.go
  controllers/akodeploymentconfig/user/suite_test.go
  controllers/akodeploymentconfig/user/user_controller.go
  controllers/akodeploymentconfig/user/user_controller_test.go
Due: lint, unit-test, integration-test

use generic Set
  controllers/akodeploymentconfig/user/user_controller.go
Due: lint, unit-test, integration-test

handle missing/extra permissions in role sync (#287)
  controllers/akodeploymentconfig/user/ako_role_test.go
  controllers/akodeploymentconfig/user/suite_test.go
  controllers/akodeploymentconfig/user/user_controller.go
  controllers/akodeploymentconfig/user/user_controller_test.go
Due: lint, unit-test, integration-test

bump golangci-lint to v1.59.0 (#288) (#289)
  hack/tools/Makefile
Due: none

handle missing/extra permissions in role sync (#290)
  controllers/akodeploymentconfig/user/ako_role_test.go
  controllers/akodeploymentconfig/user/suite_test.go
  controllers/akodeploymentconfig/user/user_controller.go
  controllers/akodeploymentconfig/user/user_controller_test.go
Due: lint, unit-test, integration-test

Use newer setup-envtest version that pulls image from controller-tool (#280)
  hack/tools/Makefile
Due: none

Trigger adc reconciliation if credentials is updated in ADC
  controllers/akodeploymentconfig/akodeploymentconfig_controller.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
  controllers/akodeploymentconfig/cluster/cluster_controller.go
  controllers/akodeploymentconfig/cluster/cluster_controller_addon_secret.go
  controllers/akodeploymentconfig/user/user_controller.go
  pkg/haprovider/haprovider.go
  pkg/utils/get_objects.go
Due: lint, unit-test, integration-test

Change the logger
  go.mod
  go.sum
  main.go
Due: lint, unit-test, integration-test

Trigger adc reconciliation if credentials is updated in ADC (#310)
  controllers/akodeploymentconfig/akodeploymentconfig_controller.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
  controllers/akodeploymentconfig/cluster/cluster_controller.go
  controllers/akodeploymentconfig/cluster/cluster_controller_addon_secret.go
  controllers/akodeploymentconfig/user/user_controller.go
  pkg/haprovider/haprovider.go
  pkg/utils/get_objects.go
Due: lint, unit-test, integration-test

Change the logger (#312)
  go.mod
  go.sum
  main.go
Due: lint, unit-test, integration-test

Cherry pick #312 and #310 (#316)
  controllers/akodeploymentconfig/akodeploymentconfig_controller.go
  controllers/akodeploymentconfig/akodeploymentconfig_controller_intg_test.go
  controllers/akodeploymentconfig/cluster/cluster_controller.go
  controllers/akodeploymentconfig/cluster/cluster_controller_addon_secret.go
  controllers/akodeploymentconfig/user/user_controller.go
  go.mod
  go.sum
  main.go
  pkg/haprovider/haprovider.go
  pkg/utils/get_objects.go
Due: lint, unit-test, integration-test
