Repository vmware-tanzu/load-balancer-operator-for-kubernetes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, unit-test, integration-test

lint:
  stage: lint
  services:
  - docker:19.03.8-dind
  before_script:
  - docker info
  script: make lint

unit-test:
  stage: test
  script: make test

integration-test:
  stage: test
  script: make integration-test

Test
  hack/e2e.sh
Due: lint

Remove unused functions to fix shellcheck linting
  hack/e2e.sh
Due: lint

Fix hack/e2e.sh script for linting error (#370)
  hack/e2e.sh
Due: lint

Change trivy scan from 1.10.0 release branch to 1.12
  .github/workflows/trivy-scan.yml
Due: none

bump go version in actions
  .github/workflows/actions.yml
  .github/workflows/push.yml
Due: none

Add change to support avi 31.1.1
  Dockerfile
  Makefile
  api/v1alpha1/constants.go
  controllers/akodeploymentconfig/user/ako_role.go
  controllers/akodeploymentconfig/user/user_controller.go
  controllers/akodeploymentconfig/user/user_controller_test.go
  go.mod
  go.sum
Due: lint, unit-test, integration-test

Remove unused functions to fix shellcheck linting (#389)
  hack/e2e.sh
Due: lint

Change trivy scan from 1.10.0 release branch to 1.12 (#388)
  .github/workflows/trivy-scan.yml
Due: none

use full go version in go.mod
  go.mod
Due: unit-test, integration-test

[TKG-29306] Filter user permission (#369)
  Dockerfile
  Makefile
  api/v1alpha1/constants.go
  controllers/akodeploymentconfig/user/ako_role.go
  controllers/akodeploymentconfig/user/user_controller.go
  controllers/akodeploymentconfig/user/user_controller_test.go
  go.mod
  go.sum
Due: lint, unit-test, integration-test

Rerun go mod tidy
  go.mod
  go.sum
Due: unit-test, integration-test

[1.12][TKG-29306] Filter user permission (#396)
  Dockerfile
  Makefile
  api/v1alpha1/constants.go
  controllers/akodeploymentconfig/user/ako_role.go
  controllers/akodeploymentconfig/user/user_controller.go
  controllers/akodeploymentconfig/user/user_controller_test.go
  go.mod
  go.sum
Due: lint, unit-test, integration-test

Rerun go mod tidy (#397)
  go.mod
  go.sum
Due: unit-test, integration-test

Add missing part
  .github/workflows/actions.yml
  .github/workflows/push.yml
  go.mod
  hack/tools/go.mod
Due: unit-test, integration-test

Bump several packages and go mod version for cve fixes
  go.mod
  go.sum
Due: unit-test, integration-test

Add missing part
  go.mod
  hack/tools/go.mod
Due: unit-test, integration-test

Bump several packages and go mod version for cve fixes (#402)
  go.mod
  go.sum
  hack/tools/go.mod
Due: unit-test, integration-test

[1.12]Bump several packages and go mod version for cve fixes (#401)
  .github/workflows/actions.yml
  .github/workflows/push.yml
  go.mod
  go.sum
  hack/tools/go.mod
Due: unit-test, integration-test

Path conditions:
  lint: any of: .gitlab-ci.yml, Makefile, **/*.go, hack/*.sh
  unit-test: any of: .gitlab-ci.yml, Makefile, **/*.go, config/**/*, go.{mod,sum}
  integration-test: any of: .gitlab-ci.yml, Makefile, **/*.go, config/**/*, go.{mod,sum}
